@model AutoVidaSv.Models.Renta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Renta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fechaentrega" class="control-label"></label>
                <input asp-for="Fechaentrega" class="form-control" />
                <span asp-validation-for="Fechaentrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechadevolucion" class="control-label"></label>
                <input asp-for="Fechadevolucion" class="form-control" />
                <span asp-validation-for="Fechadevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totaldedias" class="control-label"></label>
                <input asp-for="Totaldedias" class="form-control" />
                <span asp-validation-for="Totaldedias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agregardiasextra" class="control-label"></label>
                <input asp-for="Agregardiasextra" class="form-control" />
                <span asp-validation-for="Agregardiasextra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Totalacancelar" class="control-label"></label>
                <input asp-for="Totalacancelar" class="form-control" />
                <span asp-validation-for="Totalacancelar" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
            <br/>
=======
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
>>>>>>> 28e0bca562d72fb78f6c70cd69d1fdf83f9e913c
        </form>
    </div>
</div>

<div>
<<<<<<< HEAD
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
=======
    <a asp-action="Index">Back to List</a>
>>>>>>> 28e0bca562d72fb78f6c70cd69d1fdf83f9e913c
</div>

