@model AutoVidaSv.Models.Detallemovimiento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Detallemovimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Detallemovimientoid" />
            <div class="form-group">
                <label asp-for="Autoid" class="control-label"></label>
                <select asp-for="Autoid" class="form-control" asp-items="ViewBag.Autoid"></select>
                <span asp-validation-for="Autoid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rentaid" class="control-label"></label>
                <select asp-for="Rentaid" class="form-control" asp-items="ViewBag.Rentaid"></select>
                <span asp-validation-for="Rentaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ventaid" class="control-label"></label>
                <select asp-for="Ventaid" class="form-control" asp-items="ViewBag.Ventaid"></select>
                <span asp-validation-for="Ventaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuarioid" class="control-label"></label>
                <input asp-for="Usuarioid" class="form-control" />
                <span asp-validation-for="Usuarioid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facturacionid" class="control-label"></label>
                <input asp-for="Facturacionid" class="form-control" />
                <span asp-validation-for="Facturacionid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <br/>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

