@model AutoVidaSv.Models.Venta

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ventaid" />
            <div class="form-group">
                <label asp-for="Autoid" class="control-label"></label>
                <input asp-for="Autoid" class="form-control" />
                <span asp-validation-for="Autoid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechaventa" class="control-label"></label>
                <input asp-for="Fechaventa" class="form-control" />
                <span asp-validation-for="Fechaventa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valorventa" class="control-label"></label>
                <input asp-for="Valorventa" class="form-control" />
                <span asp-validation-for="Valorventa" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <br/>
=======
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
>>>>>>> 28e0bca562d72fb78f6c70cd69d1fdf83f9e913c
        </form>
    </div>
</div>

<div>
<<<<<<< HEAD
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
=======
    <a asp-action="Index">Back to List</a>
>>>>>>> 28e0bca562d72fb78f6c70cd69d1fdf83f9e913c
</div>

