@model AutoVidaSv.Models.Albumcar

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Albumcar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Albumcarid" />

            <div class="form-group">
                <label asp-for="Imagen" class="control-label">Imagen Actual:</label><br />
                @if (!string.IsNullOrEmpty(Model.Imagen))
                {
                    <img src="data:image;base64,@Model.Imagen" alt="Imagen Actual" style="max-width: 300px; max-height: 300px;" />
                }
                else
                {
                    <span>No hay imagen disponible</span>
                }
            </div>

            <div class="form-group">
                <label class="control-label">Cambiar Imagen:</label>
                <input type="file" id="imageUpload" name="nuevaImagen" accept="image/*" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>

            <div class="form-group">
<<<<<<< HEAD
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <br/>
=======
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
>>>>>>> 28e0bca562d72fb78f6c70cd69d1fdf83f9e913c
        </form>
    </div>
</div>

<div>
<<<<<<< HEAD
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
=======
    <a asp-action="Index">Back to List</a>
>>>>>>> 28e0bca562d72fb78f6c70cd69d1fdf83f9e913c
</div>
